{% extends 'base.html.twig' %}

    {% block title %}Hello ProductController!
    {% endblock %}
    
    {% block body %}
        <!-- content start -->
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 text-center mb-5 mt-5">
                    <h2 class="text-center">Brand List</h2>
                </div>
            </div>
            <div class="text-right mb-1">
                <a name="" id="" class="btn btn-primary" href="{{path('create_brand')}}" role="button">Add Category</a>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 text-center mx-auto">
                    {% for type, messages in app.flashes() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Brand name</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set i = 0 %}
                            {% for brands in brand %}
                                {% set i = i + 1 %}
                                <tr>
                                    <th scope="row">{{ i }}</th>
                                    <td>
                                        <b>{{ brands.name }}</b>
                                    </td>
                                    <td class="text-center">
                                        <a name="" id="" class="btn btn-success" href="{{path('update_brand',{'id':brands.id})}}" role="button">Edit</a>
                                        <a name="" id="" class="btn btn-danger" href="{{path('destroy_brand',{'id':brands.id})}}" role="button">Remove</a>
                                    </td>
                                </tr>
                            {% endfor %}
    
                        </tbody>
                    </table>
                </div>
            </div>
    
        </div>
        <!-- content end -->
    {% endblock %}
    