{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	<!-- content start -->
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-12 text-center mb-5 mt-5">
				<h2 class="text-center">{{title}}</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-8 text-center mx-auto">
				{% for type, messages in app.flashes() %}
					{% for message in messages %}
						<div class="alert alert-{{ type }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
				{{ form_start(form) }}
				<div class="form-group">
					{{ form_widget(form.name,{
                        'attr':{
                            'class':'form-control mt-1',
                            'type': 'text',
                            'placeholder' : 'Product name',
                        }
                    }) }}
					{{ form_widget(form.price,{
                        'attr':{
                            'class':'form-control mt-2',
                            'type': 'number',
                            'placeholder' : 'Price',
                        }
                    }) }}
                    {{ form_widget(form.qty,{
                        'attr':{
                            'class':'form-control mt-2',
                            'type': 'number',
                            'placeholder' : 'Quantity',
                        }
                    }) }}
                    {{ form_widget(form.description,{
                        'attr':{
                            'class':'form-control mt-2',
                            'placeholder' : 'Description',
                        }
                    }) }}
                    {{ form_widget(form.category,{
                        'attr':{
                            'class':'form-control mt-2',
                        }
                    }) }}
                    {{ form_widget(form.brand,{
                        'attr':{
                            'class':'form-control mt-2',
                        }
                    }) }}
                    <div class="text-left mt-2">
                        <img src="{{product.image}}" style="height: 100px; width: auto; border-radius: 10px;">
                    </div>
                    {{ form_widget(form.image,{
                        'attr':{
                            'class':'form-control mt-2',
                            'type' : 'file',
                        }
                    }) }}
				</div>
                <div class="text-right">
                    <a name="" id="" class="btn btn-secondary mt-3" href="{{path('app_product')}}" role="button">Back</a>
					<button type="submit" class="btn btn-primary mt-3">Save</button>
                </div>
				{{ form_end(form) }}
			</div>
		</div>

	</div>
	<!-- content end -->
{% endblock %}
