<!doctype html>
<html lang="en">

	<head>
		<title>TUAN AN - MOTO</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<!-- navbar start -->
		<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
			<a class="navbar-brand" href="{{path('app_home')}}">TUAN AN - MOTO</a>
			<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link" href="{{path('app_home')}}">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_product')}}">Product</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="{{path('app_category')}}">Category</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_brand')}}">Brand</a>
					</li>
					{% endif %}
				</ul>
				<ul class="navbar-nav mr-0 mt-2 mt-lg-0">
					{% if app.user %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{app.user.email}}</a>
							<div class="dropdown-menu dropdown-menu-right ml-auto" aria-labelledby="dropdownId">
								<a class="dropdown-item mr-0" href="{{path('app_logout')}}">Logout</a>
							</div>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_login')}}">Login</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<!-- navbar end -->
		{% block body %}{% endblock %}
		<!-- content end -->
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS --><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"> </script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
